:global {
    #root {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 330px;
    }
}

// 移动端适配适配
@media (max-width: 768px) {
     :global {
        #root {
            height: 100%;
        }
    }
    body {
        background: #5976cc !important;
    }
}